<main>
    <h1>Products Creation</h1>
    <form action="">

        <ul>
            <li>
                Title<input type="text" name="title" id="title">
            </li>
            <li>
                Description<input type="text" name="description" id="description">
            </li>
            <li>
                Code<input type="text" name="code" id="code">
            </li>
            <li>
                Price<input type="number" name="price" id="price">
            </li>
            <li>
                Stock<input type="number" name="stock" id="stock">
            </li>
            <li>
                Category<input type="text" name="category" id="category">
            </li>
            <li>
                Thumbnails<input type="text" name="thumbnails" id="thumbnails">
            </li>
        </ul>
    </form>
    <div class="button">
        <input type="submit" id="submitButton" name="submitButton" value="CREATE PRODUCT"></input>
    </div>
    <div>
        <ul id="items">
        </ul>
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/asset/js/home.js"></script>