<main>
    <h1>HOLA MUNDO HANDLE este index no va igual</h1>
    <div>
        Title<input type="text" name="title" id="title">
    </div>
    <div>
        <ul id="messageLog">
        </ul>
    </div>
</main>
{{!-- <script src="/asset/js/home.js"></script>     --}}
<script>
        const socket = io()
        let product

        Swal.fire({
            title:'New Product',
            text:'Insert Title of the Product',
            input:'text',
            inputValidator: () => {},
            allowOutsideClick:false
        })
        .then(result => {
            product = result.value
            console.log()

        })
        let title = document.querySelector ('#title')
        title.addEventListener('keyup', ( => {
            if (evt.key === 'enter'){
                if(title.value.trim().length > 0){
                    socket.emit('title',{product, title:title.value})
                    title.value=''
                }

            }
        }))

        socket.on('messageLogs', data=>{
            let messages =''
            data.forEach(message => {
                messages += `${message.user} - dice ${message.message}`
            })
            log.innerHTML=

        })

</script>