li{
    list-style: none;
}
body{
    background-color: rgb(45, 44, 44);
}
.form{
    display: flex;
    flex-direction: column;
}
li{
    color: beige;

}
input{
    margin-top: 1rem; 
    margin-left: 1rem;

}
h1{
    color: blueviolet;
}
.button{
    display: flex;
    justify-content: center
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    width: 50%;
    border: inset 4px blueviolet;
    padding: 2rem;
    margin: 3rem;
}